<h1>Uploading Files</h1>
<script src="	https://unpkg.com/axios@0.24.0/dist/axios.min.js"></script>
<form>
  <div class="registration success"><%- include('partials/message'); -%></div>
  <label for="password">Uplaod File</label>
  <input type="file" name="uploadFile" accept=".txt" required />
  <div class="upload error"></div>
  <button>Treat it</button>
</form>
<script>
  const form = document.querySelector("form");
  console.log("form = ", form);
  const emailerr = document.querySelector(".password.error");
  const success = document.querySelector(".registration.success");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();
  


  const file = form.uploadFile.files[0];


let formData = new FormData();
formData.append('file', file);
console.log(formData);
 try {
/*await axios.post("/send", formData, {
  onUploadProgress: progressEvent => {
    const percentCompleted = Math.round(
      (progressEvent.loaded * 100) / progressEvent.total
    );
    console.log(`upload process: ${percentCompleted}%`);
  }
})*/

  
    console.log("fillee name ==", file);
      await fetch("/send", { method: "POST", body: formData,
      'Content-Type': "multipart/form-data"
     }).then(data => console.log(data)).catch(err =>console.log(err)); // location.reload();

      /*
            const res = await fetch('/send',{ 
                body:file.files[0].name),
                headers: {'Content-Type' :'application/json'}
            
               // headers: {'Content-Type' :'text/plain'}
            });8/
           // console.log(encodeURIComponent(file.files[0]));
            /*
            const data =await res.json();
            if(data.error){
                emailerr.textContent=data.error;
}
if(data.user){
    success.textContent='Processing successfully you will move to resilt page in secondes';
   setTimeout(() =>{
   success.textContent='time over';
        location.assign('/state');
   },2000) ;
}*/
      //console.log('stop here !!')
    } catch (err) {
      console.log("error is happend when i sent a request");
      console.log("error is = ", err);
    }
  });
</script>
